
/* Common Style */
.flex{
    display: flex;
}
.gray-text{
    color: grey;
    font-size: 1rem;
}

/* Header Section */
header{
    min-width: 100%;
}
.nav-container{
    justify-content: space-around ;
}
.nav-menu ul{
    gap: 1.5rem;
}
.nav-menu ul li{
    list-style: none;

}

.contact button{
    background-color: coral;
    padding: 0.7rem 2rem;
    border-radius: 10px;
    font-size: 1.3rem;
    color: white;

}
.contact img{
    display: none;
}

/* Bannar Section */

.bannar-container{
    margin: 5%;
    justify-content: space-between;
    padding: 5%;
}
.bannar-text-area{
    align-content: center;
}
.bannar-text-area button{
    background-color: black;
    color: white;
    padding: 0.7rem 1.5rem;
    border-radius: 10px;
}



/* Responsive Section hare */
@media screen and (max-width: 576px) {
    /* Nav section */
    .nav-menu ul li{
        display: none;

    }
    .nav-container{
        justify-content: space-between;
        /* background-color: blue; */
        min-width: 100%;
    }
    .nav-container h1{
        display: none;
    
    }
    .contact img{
        display: inline-block;
        height: 50px;
        width: 50px;
    }
    .contact button{
        display: none;

    }
    /* Bannar Section */
    .bannar-container{
        flex-direction: column-reverse;
    }


    
}